/* styles.css */
p {
    color: rgb(31, 86, 105);
}


body {
    background-image: url('Used_Images/bimg3.png');
    background-size: cover; /* Scales the image to cover the entire container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Optional: Keeps the background fixed as the page scrolls */
    background-position: center center;
    font-family: "Arial";
    text-align: center;
    
}

.Tab-Layout {
    width: 150px; /* Adjust the width as needed for your left tab */
    background-color: rgba(14, 60, 210, 0.879);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box; /* Includes padding in the width */
    
    border-radius: 8px 1px 1px 8px;
}

.OrganizationHeader {
    color: #fff;
    font-size: 20px;
    padding: -2px;
    margin-top: 8px;
    font-family: "Bauhaus 93";
    margin-left: 8px;
    text-align: left;
    border-bottom: ridge white ;
    margin-right: 26px;
    border-width: 10px;
    border-radius: 5px;
    
    }

    .Dashboard {

        font-size: 14px;
        padding-top: 30px;
      
    }

    .Dashboard-Link, .Statistics-Link {
        border-bottom: solid beige;
        color: #cbcaca;
    }

    .Statistics {
        font-size: 15px;
        padding: 20px;
        color: #cbcaca;
    }

    



.Welcome_User_Text {
    font-weight: bold;
    font-family: "Aharoni";
    font-size: 25px;
    color: rgb(31, 86, 105);
    padding-bottom: 3px;
}




.WelcomeUser_Container {
   width: 550px;
    padding: 20px;
    
    
}

.error-label {
    color: red;     /* Set text color to red */
    font-weight: bold;  /* Make text bold */
}

.basecontainer {
    margin: 100px auto;
    width: 800px;
    height: 560px;
    background-color: #fff;
    border: 1px none #ffffff;
    border-radius: 8px;
    
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1);
   display: flex;
   
}

button {
    width: 20%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #007BFF;
}
