/* styles.css */


body {
    background-image: url('Used_Images/bimg3.png');
    background-size: cover; /* Scales the image to cover the entire container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Optional: Keeps the background fixed as the page scrolls */
    background-position: center center;
    font-family: "Arial";
    text-align: center;
    
}

.success-messages, .error-messages {

    text-align: center;
    font-weight: bold;

}

.error-messages {
    /* Red background for error messages */
   color: #f40e0e; 
 
}

.success-messages {
    /* Green background for success messages */
   color: #25d253; ; 

}

.Tab-Layout {
    width: 150px; /* Adjust the width as needed for your left tab */
    background-color: rgba(14, 60, 210, 0.879);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box; /* Includes padding in the width */
    color: #fff;
    border-radius: 8px 1px 1px 8px;
}

.OrganizationHeader {
    color: #fff;
    font-size: 20px;
    padding: -2px;
    margin-top: 8px;
    font-family: "Bauhaus 93";
    margin-left: 8px;
    text-align: left;
    border-bottom: ridge white ;
    margin-right: 26px;
    border-width: 10px;
    border-radius: 5px;
    
    }

    .Dashboard {

        font-size: 14px;
        padding-top: 30px;
      
    }

    .Dashboard-Link, .Statistics-Link {
        border-bottom: solid beige;
        color: #cbcaca;
    }

    .Statistics {
        font-size: 15px;
        padding: 20px;
        color: #cbcaca;
    }

    
.Sleep_Text {
    padding-bottom: 25px;

}


.Welcome_User_Text {
    font-weight: bold;
    font-family: "Aharoni";
    font-size: 25px;
    color: rgb(51, 59, 111);
    padding-bottom: -3px;
}




.WelcomeUser_Container {
   width: 620px;
    padding: 15px;
    
    
}

.error-label {
    color: red;     /* Set text color to red */
    font-weight: bold;  /* Make text bold */
}

.basecontainer {
    margin: 100px auto;
    width: 800px;
    height: 560px;
    background-color: #fff;
    border: 1px none #ffffff;
    border-radius: 8px;
    
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1);
   display: flex;
   
}

.Download_Container, .Upload_Container {

    display:inline-block;
}


.Download_Container {
    text-align: center;
    margin-left: 284px;
    margin-top: 20px;
    width: 200px;
    
}

.Upload_Container {
    display: flex; /* Use flexbox for the form */
    align-items: center;
    margin-left: 130px;
    margin-top: 50px;
}

.Download_Button {
    height: 30%;
    width: 65%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;

}

.Choose_File {
    margin-right: 6px;
    width: 250px;
}

.Download_Text {

    font-size: 12px;
    padding-bottom: 5px;
}

.Upload_Button {

    margin-left: 6px;
    width: 120px;
}

button {
    width: 35%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
a {
    text-decoration: none;
    color: #007BFF;
}
