/* styles.css for ForgotPW  and Reset_Access*/
body {
    background-image: url('../Pre-Login-Images/Pre_Login_Background.png');
    background-size: cover; /* Scales the image to cover the entire container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Optional: Keeps the background fixed as the page scrolls */
    background-position: center center;
}

p {
    margin-top:0;
    font-family: Verdana;
    text-align: center;
    
}

.Website-Title {
    
    font-family: "Bauhaus 93";
    font-size: 28px;
    color: white;

}

.ForgotPW-Title {
    font-family: "Bauhaus 93";
    font-size: 28px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;

}

.Reset-Desc {

    font-size: 13px;
}

.Login-Sign-Up-Text {

    margin-left: -10px;
    margin-top: 80px;
    font-size: 15px;
    color: rgb(31,142,240);
    cursor: pointer;
    
}
.Login-link,
.SignUp-Link {
    text-decoration: none;
}


.Login-link:hover,
.SignUp-Link:hover {
    text-decoration: underline;
}

.Input-Bar {

    margin-left: 30px;
    margin-top: 16px;
    width: 430px;
    height: 32px;
    font-size: 17px;
    font-family: "Comic Sans MS";
    border-radius: 6px;
    position: static;
    
    
}


.Confirm_Input-Bar {

    margin-left: 30px;
    margin-top: 20px;
    width: 430px;
    height: 32px;
    font-size: 17px;
    font-family: "Comic Sans MS";
    border-radius: 6px;
    position: static;

}

.Reset_Password_Template {
    background-image: url('../Pre-Login-Images/Desc_Image.jpg');
    background-size: cover; /* Scales the image to cover the entire container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Optional: Keeps the background fixed as the page scrolls */
    background-position: center center;
    margin: 100px auto;
    width: 500px;
    padding: 20px;
    padding-top: 5px;
    border-style: solid;
    border-width: 5px;
    border-radius: 8px
    

}

.Next-Page-Button{
    
    font-size: 15px;
    margin-top: 35px;
    margin-left: 170px;
    margin-bottom: 20px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(17,0,102);
    color: #fff;
    transition-duration: 0.3s;
    cursor: pointer;
    

}
.Next-Page-Button:hover{
    
    border-color: black;
    background-color: rgb(25,82,156);
    text-decoration: none;
    color:rgb(225, 225, 225);
    
}

.error-messages {
     /* Red background for error messages */
    color: #f40e0e; 
  
}

.success-messages {
     /* Green background for success messages */
    color: #25d253; 
 
}








.Next-Link {
    text-decoration: none;
    color:rgb(0, 0, 0);
}
.Next-Link:hover {
    color:rgb(225, 225, 225);
}
 
v
.Email-label {
    color:rgba(242, 183, 64, 0.937);
    font-weight: bolder;
}




