/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    background-image: url('Pre-Login-Images/Pre_Login_Background.png');
    background-size: cover; /* Scales the image to cover the entire container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Optional: Keeps the background fixed as the page scrolls */
    background-position: center center;
}

.Website-Title {
    
    font-family: "Bauhaus 93";
    font-size: 28px;
    color: white;

}

.error-label {
    color: red;     /* Set text color to red */
    font-weight: bold;  /* Make text bold */
}

.container {
    margin: 100px auto;
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: center;
}

.form-group {
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}

.btn {
    width: 20%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error-group {

    margin-top: 0px;
    margin-bottom: 10px;
    color: #a83232;

}

a {
    text-decoration: none;
    color: #007BFF;
}
