<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" href="static/ForgotPWCSS/background.css">

    <style>

  
    </style>


</head>



<body>

    <p class="Website-Title">
        OU Sleep
    </p>
 


   <div class="Reset_Password_Template"> 

   
    <p class="ForgotPW-Title">
        Reset Your Password
      
    </p>

    <p class="Reset-Desc">
        Lost your Password? 
        Please enter your email address
    </p>

    <form action="/Email_Confirm" method="post"> 
     <label for="username"> </label> <input class="Email-Bar" type="text" id="email" name="email"
        placeholder="Email" required>

      <button class="Next-Page-Button" type="submit">Next</button>
    </form>

    <p class="Login-Sign-Up-Text">
       <a href="http://127.0.0.1:5000/" class="Login-link">< Back to Login</a> 
       &emsp; &emsp; &emsp; 
       &emsp; &emsp; &emsp; &emsp; &emsp;
       &emsp; &emsp; &emsp; &emsp; <a href="http://127.0.0.1:5000/signup?" 
       class="SignUp-Link">Sign Up ></a>
    </p>

   </div>

   


 
</body>
</html>
</html>