<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" href="static/ForgotPWCSS/background.css">


    <style>

  
    </style>


</head>



<body>
   

    <p class="Website-Title">
        OU Sleep
    </p>
 


   <div class="Reset_Password_Template"> 


    <div class="error-messages">
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% for message in messages %}
                <p class="error-label">{{ message }}</p>
            {% endfor %}
        {% endwith %}
    </div>

    <div class="success-messages">
        {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% for message in messages %}
                <p class="success-label">{{ message }}</p>
            {% endfor %}
        {% endwith %}
    </div>

    

    <p class="ForgotPW-Title">
        Reset Your Password
      
    </p>

    <p class="Reset-Desc">
        Lost your Password? 
        Please enter your Email address
    </p>
    <form action="/Reset_Password" method="post">  
        <div> 
            <label for="email"> </label> <input class="Input-Bar" autocomplete="off" 
            type="email" id="email" name="email"
            placeholder="Email" required>
        </div>
            <button class="Next-Page-Button" type="submit"> Send Email </a></button>
        </form>

    
    <p class="Login-Sign-Up-Text">
       <a href="http://127.0.0.1:5000/" class="Login-link">< Back to Login</a> 
       &emsp; &emsp; &emsp; 
       &emsp; &emsp; &emsp; &emsp; &emsp;
       &emsp; &emsp; &emsp; &emsp; <a href="http://127.0.0.1:5000/signup?" 
       class="SignUp-Link">Sign Up ></a>
    </p>

   </div>

   


 
</body>
</html>
</html>