
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" href="static/ForgotPWCSS/background.css">


    <style>

  
    </style>


</head>



<body>
   

    <p class="Website-Title">
        OU Sleep
    </p>
 


   <div class="Reset_Password_Template"> 


    <div class="error-messages">
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% for message in messages %}
                <p class="error-label">{{ message }}</p>
            {% endfor %}
        {% endwith %}
    </div>

    <div class="success-messages">
        {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% for message in messages %}
                <p class="success-label">{{ message }}</p>
            {% endfor %}
        {% endwith %}
    </div>

    

    <p class="ForgotPW-Title">
        Reset Your Password
      
    </p>

    <p class="Reset-Desc"> 
        Please enter your new Password
    </p>
    <form action="/Reset_Password" method="post">  
        <div> 
            <label for="text"> </label> <input class="Email-Bar" autocomplete="off" 
            type="text" id="password" name="password"
            placeholder="Password" required>
        </div>
            <button class="Next-Page-Button" type="submit"> Back to Homepage </a></button>
        </form>

   
   </div>

   


 
</body>
</html>
</html>