
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" href="static/ForgotPWCSS/background.css">


    <style>

  
    </style>


</head>



<body>
   

    <p class="Website-Title">
        OU Sleep
    </p>
 


   <div class="Reset_Password_Template"> 

    <div class="ErrorMessage">
       
       
     
    </div>

    <div class="Email-Sent">
       
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="Sent-Successfully-messages">
                {% for message in messages %}
                    <p class="Sent-Successfully">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
     
    </div>


    <p class="Reset-Desc">
        Please check your email to reset your password
    </p>
   

    

   

   


 
</body>
</html>
</html>